/* Monaspace Krypton */
@font-face {
  font-family: 'Monaspace';
  src: url('https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.000/fonts/webfonts/MonaspaceKrypton-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monaspace';
  src: url('https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.000/fonts/webfonts/MonaspaceKrypton-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} 